<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catpaws1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{350,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,202}}</string>
                <key>sourceSize</key>
                <string>{350,202}</string>
            </dict>
            <key>catpaws2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,202}}</string>
                <key>sourceSize</key>
                <string>{350,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catPawsAnim-ipadhd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a804a55f237aee8ab926241bb4099f$</string>
            <key>textureFileName</key>
            <string>catPawsAnim-ipadhd.png</string>
        </dict>
    </dict>
</plist>
