<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paws1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,53}}</string>
                <key>sourceSize</key>
                <string>{84,53}</string>
            </dict>
            <key>paws2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawsAnim-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4276dbb997b08ab181103b6582b7ae0$</string>
            <key>textureFileName</key>
            <string>pawsAnim-hd.png</string>
        </dict>
    </dict>
</plist>
