<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paws1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{167,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,105}}</string>
                <key>sourceSize</key>
                <string>{167,105}</string>
            </dict>
            <key>paws2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,108}}</string>
                <key>sourceSize</key>
                <string>{169,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawsAnim-ipadhd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a5207ef32f43d83f187ef825641aee$</string>
            <key>textureFileName</key>
            <string>pawsAnim-ipadhd.png</string>
        </dict>
    </dict>
</plist>
